out/
build/
.vscode/
yocto/bsdiff
yocto/meta-azure-device-update
yocto/meta-iot-hub-device-update-delta
yocto/meta-openembedded
yocto/meta-raspberrypi-adu
yocto/meta-raspberrypi
yocto/meta-swupdate
yocto/poky
adu-base-*image*.gz
adu-update-*image*.swu
build-*.sh
drop-*.sh
zip-*.sh